body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(#f0dbbb,#ddc0a5);
  color: #333;
}

header {
  background: #816955;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cafe-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.cafe-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
}

.cafe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.btn, .delete-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  background: #333;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.delete-btn {
  background: #e74c3c;
}
header h1 {
color: #f0dbbb
}
.contact-container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
}
.contact-left {
     display: flex;
     flex-direction: column;
     align-items: start;
     gap: 20px
}
.contact-left-title h2{
      font-weight: 600;
      color: #816955;
      font-size: 40px;
      margin-bottom: 5px;
}
.contact-left-title hr{
       border: none;
       width: 120px;
       height: 5px;
       background-color: #816955;
       border-radius: 10px;
       margin-bottom: 20px;
}
.contact-inputs{
     width: 400px;
     height: 40px;
     border: none;
     outline: none;
     padding-left: 20px;
     font-weight: 500;
     border-radius: 10px;
}
.contact-inputs:focus{
border: 2px solid #816955;
}

.contact-left button{
     display: flex;
     align-items: center;
     padding: 15px 30px;
     font-size: 16px;
     gap: 10px;
     border-radius: 20px;
     background: white;
     border: none;







}